/* Global styles */
header{
  background-color:rgb(255, 144, 14, 10% );
}

.max-width{
  max-width: 1440px;
  margin: 0px auto;
}

/* dark 01 */
.text-dark-gray{
  color: #131313;
}

/* dark 02 */
.text-gray{
  color: #424242;
}

/* dark 03 */
.text-light-gray{
  color: #727272;
}

/* button primary */
.btn-primary{
  color: #FF900E;
  border-radius: 8px;
}

.section-title{
  font-size: 2.08rem;
  font-weight: 700;
}

.display-flex{
  display: flex;
}

/* navbar section styles */
.navbar-container{
  justify-content: space-between;
  align-items: center;
}

.navbar-list-container li {
  list-style: none;
  margin-left: 20px;
}

.navbar-list-container li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}