/* Global styles */
header {
  background-color: rgb(255, 144, 14, 10%);
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

/* dark 01 */
.text-dark-gray {
  color: #131313;
}

/* dark 02 */
.text-gray {
  color: #424242;
}

/* dark 03 */
.text-light-gray {
  color: #727272;
}

/* button primary */
.btn-primary {
  background-color: #ff900e;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.section-title {
  font-size: 2.08rem;
  font-weight: 700;
}

.section-description {
  font-size: 1rem;
  font-weight: 400;
}

.display-flex {
  display: flex;
}

/* navbar section styles */
.navbar-container {
  justify-content: space-between;
  align-items: center;
}

.navbar-list-container li {
  list-style: none;
  margin-left: 20px;
}

.navbar-list-container li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

/* banner section */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-content-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.banner-image {
  margin: 2rem 0;
}

/* quick list featured */
.quick-list-container {
  align-items: center;
  margin: 3rem auto;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.quick-list-content {
  max-width: 530px;
  margin-left: 4rem;
}

#quick-list {
  font-size: 2.08rem;
  font-weight: 500;
}

#features {
  color: #ff900e;
}

/* some facts */
.facts-content {
  max-width: 540px;
}

.facts-content h3 {
  margin-bottom: 10px;
}

.facts-badge-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 3rem;
}

.facts-badge {
  height: 270px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ff900e;
  border-radius: 8px;
}

.badge-number {
  font-size: 2.08rem;
  font-weight: 600;
  margin: auto;
  padding-top: 10px;
}

.badge-text {
  font-size: 1.02rem;
  font-weight: 600;
}

/* sponsors section */

.sponsors {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsors-content {
  max-width: 540px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.sponsors-content h3 {
  margin-bottom: 10px;
}

.sponsors-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9rem;
}

.sponsors-list-container img {
  height: 50px;
  text-align: center;
  filter: grayscale(100%);
}

/* responsive for mobile device */
@media screen and (max-width: 576px) {
  .navbar-container,
  .quick-list-container {
    flex-direction: column;
  }

  .navbar-list-container {
    padding-left: 0px;
    margin: auto;
  }

  .navbar-list-container li {
    text-align: center;
    margin-top: 10px;
    margin-left: 1rem;
  }

  .banner-content {
    max-width: 95%;
    margin: 0 auto;
  }

  .banner-content-title {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .banner-image {
    width: 100%;
  }

  .team-container {
    grid-template-columns: 1fr;
  }

  .team-container img {
    width: 100%;
  }

  .quick-list-content {
    max-width: 95%;
    margin: 0 auto;
  }

  .facts-content {
    text-align: center;
  }

  .facts-badge-container {
    grid-template-columns: 1fr;
  }

  .sponsors-content {
    max-width: 95%;
    text-align: left;
  }

  .sponsors-list-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

/* responsive for tablet device */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .quick-list-container {
    flex-direction: column-reverse;
  }

  .navbar-container {
    margin: 0 10px;
  }

  .banner-image {
    width: 100%;
  }

  .quick-list-content {
    text-align: center;
    margin-bottom: 2rem;
  }

  .facts-content {
    text-align: center;
    margin: 0 auto;
  }

  .facts-badge {
    height: auto;
    padding: 1rem 0;
  }

  .sponsors-list-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
  }
}
